{% extends "food/base.html" %}

{% block body %}
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="{{ item.item_image }}" alt="Food Image" 
                     class="img-fluid rounded shadow-sm" 
                     style="max-height: 300px; width: auto;">
            </div>
            <div class="col-md-6">
                <h1 class="fw-bold">{{ item.itemname }}</h1>
                <h2 class="text-muted">{{ item.itemdesc }}</h2>
                <h3 class="text-success fw-semibold">${{ item.itemprice }}</h3>
                <a href="{% url 'food:delete_item' item.id %}">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}